# Игнорировать конкретный файл по имени
# secret_config.json

# Игнорировать конкретную папку и всё её содержимое (слэш в конце обязателен)
# node_modules/
# dist/
# build/

# Игнорировать все файлы с определенным расширением (например, логи или кэш)
# *.log
# *.sqlite

# Игнорировать скрытые системные папки (например, настройки VS Code или кэш Python)
# .vscode/
# __pycache__/
# .DS_Store

go/
google-chrome/
mozilla/
Pachca/
vlc/
VSCodium/
YandexMusic/
yay/